@charset "utf-8";
body{
    color:#333;
    font-family:'Microsoft YaHei', Arial, Helvetica, sans-serif;
    font-size:14px;
    height:100%;
    margin:0 auto;
    padding:0;
    width:100%;
}

html,body,div,dl,dt,dd,ul,ol,li,th,td,p,input,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
    list-style: none;
}

img,body,html{
    border:0;
}

address,caption,cite,code,dfn,em,th,var{
    font-style:normal;
    font-weight:400;
}

ol,ul{
    list-style:none;
}

caption,th{
    text-align:left;
}

q:before,q:after{
    content:'';
}

a,a:visited{
    text-decoration:none;
    color: #333;
}

a:hover,a:active{
    color:#26af5f;
    text-decoration:none;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

.center{
    margin:0 auto;
    text-align:center;
}

.bring-to-top{
    position:relative;
    z-index:500;
}

.clear{
    clear:both;
}
.clearfix:after { visibility:hidden; display:block; font-size:0;content:" "; clear:both; height:0; }
.clearfix { zoom:1; }
.typo:before, .typo:after { content:"."; display:block; height:0; visibility:hidden; }
.hidden{
    display:none;
}

.fit-parent{
    height:100%;
    width:100%;
}

.inline-block{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.w{
    width: 1200px;
    margin: 0 auto; 
}
.w1{
    width: 1100px;
    margin: 0 auto; 
}
.w10{
    width: 1000px;
    margin: 0 auto; 
}
.w12{
    width: 1120px;
    margin: 0 auto; 
}
.w9{
    width: 900px;
    margin: 0 auto; 
}
.colorf{
    color: #fff;
}
.colorb{
    color: #009a44;
}