@charset "utf-8";

/*头部*/
.heard{
    height: 101px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    background: #fff;
}
.heard_xian{
    background: #26af5f;
    height: 5px;
}
.top{
    height: 96px;
}
.top_img{
    width: 116px;
    height: 66px;
}
.top_img img{
    display: block;
    width: 116px;
    height: 66px;
    margin-top: 15px;
}
.top_nav{}
.top_nav>ul{
    height: 96px;
    margin-left: 30px;
}
.top_nav>ul>li{
    float: left;
    margin-left: 5px;
}
.top_nav>ul>li>a{
    display: block;
    height: 66px;
    line-height: 66px;
    width: 100px;
    font-size: 16px;
    color: #666;
    text-align: center;
    padding:15px 0;
    font-weight: bold;
}
.top_nav>ul>li>a:hover{
    background: #009A44;
    color: #fff;
}
.top_tel{
    height: 96px;
    line-height: 96px;
}
.top_tel .top_tel_tit{
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
.top_tel .top_tel_shuzi{
    background:url(../images/top_tel.png) left no-repeat;
    padding-left:32px;
    color: #ff9600;
    font-size: 20px;
    font-weight: bold;
}
.heard_mar{
    margin-top: 101px;
}


.top_nav ul li div{
    display: none;
    position: absolute;
    z-index: 999;
    background: #26af5f;
    width: 100px;
}
.top_nav ul li div dl dd{
    text-align: center;
    line-height: 35px;
}
.top_nav ul li div dl dd:hover{
    background: #009A44
}
.top_nav ul li div dl dd a{
    color: #fff;
    display: block;
}

